h1{
    color:rgb(165, 42, 120)
   
  }
h3{
    color:rgb(126, 23, 147)
  }
form {
    width: 100%;
    max-width: 700px;
    text-align: center;
    border: solid 1px #d0a9de;
    padding-bottom: 20px;
    margin: auto;
    background: #d0a9de;
  }
  input[type=textfield] {
      width: 75%;
      padding: 16px 32px;
      font-size: 16px;
      margin: 8px 0;
      border: 1px solid silver;
      border-radius: 1px;
      text-align: left;
      color: #af4c96;
      background: #db91cc;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #af4c96;
      border: none;
      color: white;
      padding: 16px 32px;
      font-size: 16px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #d7a2c5;
  }